APScheduler==3.6.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.3
click==7.1.2
cssselect2==0.3.0
defusedxml==0.6.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy
pandas
patsy==0.5.1
Pillow==8.0.1
psutil==5.7.2
pycairo==1.20.0
pycparser==2.20
pymongo==3.11.0
python-dateutil==2.8.1
pytz==2020.1
scipy
scriptinep3==0.3.1
six==1.15.0
statsmodels==0.12.0
tinycss2==1.0.2
tzlocal==2.1
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
